/* 
	Sample CSS Framework
	Reference: bootstrap dist 3.3;
	Bootstrap link: https://getbootstrap.com/;

**/

html {
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

a,
a:visited {
	text-decoration: underline;
}

tr,
img {
page-break-inside: avoid;
}

img {
	vertical-align: middle;
	border-style:none;
}

label {
	display: inline-block;
	font-weight: 700;
}

span {
	display: inline;
}

.navbar {
	display: none;
}

.badge {
border: 1px solid #000;
}
.table {
border-collapse: collapse !important;
}
.table td,
.table th {
background-color: #fff !important;
}
.table-bordered th,
.table-bordered td {
border: 1px solid #ddd !important;
}

/*body structure**/

body {
	margin: 0;
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: normal;
	color: #212529;
	background-color: #fff;
}

@-ms-viewport {
  width: device-width;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}

	/* Control groups for forms**/
input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

}

input, button {
	overflow: visible;
}


button, select {
	text-transform: none;
}

button:hover {
	opacity: 0.8;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;	
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]{
	-webkit-appearance: listbox;
}

textarea {
	overflow: auto;
	resize: vertical;
}


	/* End of control groups in forms**/


p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}


/* Class List **/

.box {
	border: 1px #ddd solid;
	border-radius: 3px;
	background-color: #eee;

}

.bg-inverse {
	background-color: #222;
	color: #fff;

}

.center {
	text-align: center;
	vertical-align: middle;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}


.header {
	width:100%;
	margin: 0;
	margin-bottom: 2rem;
	padding: 1rem;
	text-align:center;
	box-sizing: border-box;

}


	/* Form Control Classes*/

.form {
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #fff;
	background-image: none;
	border: 1px solid #000001;
	border-radius: 3px;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



.form-groups {
	margin:0;
	display: inline-block;
	position: relative;
	padding: 0 2rem;
}


.form-groups > input {
	display: block;
	width: 100%;
	margin-bottom: 2rem;
	padding: 5px;
}

.btn {
	display: inline;
	font-weight: inherit;
	margin-bottom: 2rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	line-height: inherit;
	border-radius: 3px;
	transition: all 0.15s ease-in-out;
	box-sizing: border-box;
}

	/* End of Form Control Classes **/

	/* Grid Template Classes **/



